.banner{
  background-color: #ffffff;
}

.sliderContainer{
  position: relative;

}

.sliderContainer > p {

  position: absolute;
  top: 85%;
  left: 32%;
  width: 145px;
  height: 28px;
  color: #555555;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

.sliderContainer > button{
  position: absolute;
  top: 80%;
  left: 12%;
}

@media screen and (min-width:576px) { 
  .sliderContainer > button{
    position: absolute;
    top: 80%;
    left: 11%;
}
}
@media screen and (min-width:768px) and ( max-width:900px) {
  .sliderContainer > button{
    position: absolute;
    top: 80%;
    left: 9%;
}
}

@media screen and (min-width:992px) and (max-width:1120px) {
  .sliderContainer > button{
    position: absolute;
    top: 80%;
    left: 8%;
  }
}

@media screen and (min-width:1120px) and (max-width:1350px) {
  .sliderContainer > button{
    position: absolute;
    top: 80%;
    left: 10%;
  }
}

@media screen and (min-width:1350px) and (max-width:1700px) {
    .sliderContainer > button{
      position: absolute;
      top: 80%;
      left: 16%;
    }
}

@media screen and (min-width:1700px){
  .sliderContainer > button{
    position: absolute;
    top: 80%;
    left: 20%;
  }
}


.sliderImage{
  width: 180px;
  min-width: 150px;
  height: 180px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
  border:rgb(219, 219, 219) solid 1px;
  /* filter: brightness(80%); */
}

.sliderImage:hover{
  opacity: 0.6;
  transition-duration: 0.3s;
  transform:scale(1.05,1.05);
}

.slick-dots {
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  bottom: -5px!important;
  list-style: none;
  text-align: center;
}


.swiper-slide-next{
  opacity: 0.5;
}
.swiper-slide-prev{
  opacity: 0.5;
}
