.noline {
	text-decoration: none;
	color: black;
}

.noline:hover {
	color: red;
	text-decoration: underline;
}

.image:hover {
	opacity: 0.8;
}

.delete-button {
	position: absolute;
	right: 0;
	z-index: 99;
}

.parent {
	position: relative;
}
