.noline {
	text-decoration: none;
	color: black;
}

.noline:hover {
	color: red;
	text-decoration: underline;
}

.image:hover {
	opacity: 0.8;
}

.delete-button {
	position: absolute;
	right: 0;
	z-index: 99;
}

.parent {
	position: relative;
}

.text-limit {
	height: 3rem;
	text-align: left;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
