.full {
  position: relative;
  width: 100%;
  min-height: 110vh;
  background-image: url("css/background_login.jpg");
}

.title {
  position: relative;
  padding: 0.5em;

  /* background: #A9A9A9; */

  color: #666666;
  content: '';
  top: 50%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;

  /* border-right: solid 20px rgb(149, 158, 155); */

}

